<div
  class="flex rounded bg-[#2c2c2c] text-[#F5F5F5] lg:flex-col flex-col md:card-side w-full h-full"
>
  <figure>
    <img class="object-cover h-full rounded" src="./avatar.jpeg" alt="Album" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Hi there! &#128512</h2>
    <p>
      Io sono Aline.<br /> Mi piace progettare siti web e applicazioni, scriverne
      il codice e vedere l'idea prendere forma sullo schermo. <br />
      Le tecnologie usate sono <span class="font-bold">Nextjs</span>,<span
        class="font-bold"
      >
        Angular</span
      > per il front-end,
      <span class="font-bold">Nodejs</span> per il back-end. Al momento sto sviluppando
      un progetto in Angular e un sito vetrina usando <span class="font-bold"
        >Strapi</span
      > come CMS.
    </p>
    <div class="card-actions justify-end">
      <a
        href="https://wa.me/393283539590"
        target="_blank"
        class="btn hover:bg-[#0012ff] hover:text-white bg-[#FFCC4C]
        border-[#F5F5F5] btn-info font-extrabold"
        >CONOSCIAMOCI!</a
      >
    </div>
  </div>
</div>
