<footer
  class="flex p-4 bg-base-300 text-base-content w-full lg:sticky bottom-0"
>
  <aside>
    <p>© Aline Grianti - front-end developer based in Italy</p>
  </aside>
  <div class="flex items-center ms-auto gap-1 flex-wrap">
    <a
      href="https://www.gofundme.com/f/sos-gaza-dona-ora-per-aiutare-la-gente-di-gaza"
    >
      <img src="/palestina.png" alt="FREE PALESTINE" class="h-8" />
    </a>
    <p class="text-sm font-bold">STOP OCCUPATION</p>
  </div>
</footer>
