<footer
  class="footer footer-center p-4 bg-base-300 text-base-content fixed md:sticky lg:sticky bottom-0"
>
  <aside>
    <p>© Aline Grianti - front-end developer based in Italy</p>
  </aside>
</footer>
