---
import Icons from "./icons.astro";
---

<nav
  class="h-18 flex justify-around p-3 z-10 bg-[#FFCC4C] border-b-2 border-b-[#0B0C49] shadow-[#0B0C49] sticky top-0"
>
  <a href="https://github.com/Aline89b" target="_blank">
    <Icons
      icon="https://img.icons8.com/ios-filled/50/000000/github.png"
      title="Github profile"
      size="50px"
    />
  </a>
  <a href="https://wa.me/393283539590" target="_blank"
    ><Icons
      icon="https://img.icons8.com/ios/50/000000/whatsapp--v1.png"
      title="whatsapp contact"
      size="50px"
      color="green"
      className="WA"
    /></a
  >
  <a href="https://it.linkedin.com/in/aline-grianti-32a9a9b7/" target="_blank"
    ><Icons
      icon="https://img.icons8.com/ios-filled/50/000000/linkedin.png"
      title="Linkedin Profile"
      size="50px"
      color="blue"
    /></a
  >
  <a
    href="mailto:a.grianti89@gmail.com"
    target="_blank"
    class="shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] hover:animate-pulse"
    ><Icons
      icon="https://img.icons8.com/ios/50/000000/mail.png"
      title="e-mail contact"
      size="50px"
    /></a
  >
</nav>
